#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Populate a list of DPDK librte* packages to append to the "Recommends field"
# This will ensure the correct versions of these packages will be installed
PMD_PKGS := $(shell apt-cache depends dpdk | grep 'Recommends: librte' | cut -d':' -f2- | xargs | sed -e 's/ /, /g')

%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- \
		--buildtype=debug \
		__MESON_STATIC__

override_dh_gencontrol:
	dh_gencontrol -- -Vshlibs:Recommends="$(PMD_PKGS)"
